.MainHeader {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  box-shadow: 2px 2px 11px 1px #ada5a5;
}

.MainContent {
  margin-top: 7rem;
}