.MoviesList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.MoviesList-Item {
  margin: 1rem;
  padding: 1rem;
  box-shadow: 2px 2px 11px 1px #ada5a5;
  border-radius: 1rem;
}

.MoviesList-Item a {
  text-decoration: none;
}
